@import "../../App.scss";
.info-content {
  width: 300px;
  height: 300px;
  color: white;
  padding-top: 20px;
  position: absolute;

  h1 {
    font-size: 32px;
    font-weight: 400;
  }

  h2 {
    font-size: 16px;
    letter-spacing: 6px;
    color: $primary-color;
  }

  h3 {
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 26px;
    margin-bottom: 7px;
  }

  p {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .info-photo {
    margin-top: 40px;
    width: 80%;
    height: 300px;
  }
  .info-content {
    position: static;
    width: 80%;
  }
}

@media (max-width: 360px) {
  .info-photo {
    margin-top: 30px;
    width: 260px;
    height: 260px;
  }
  .info-content {
    position: static;
    width: 85%;
  }
}
