@import "../../App.scss";

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 120px 0px 20px 0px;
}

@media (max-width: 3840px) {
  .footer {
    font-size: 1.5vw;
  }
}
