.section-title {
  color: white;
  font-size: 40px;
  letter-spacing: 15px;
  padding: 120px 0px;
  width: 100%;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .section-title {
    padding: 60px 0px;
    font-size: 8.5vw;
  }
}
